:root {
    /* Colors */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --off-white: #faf8f7;
    --just-white: #fff;
    --grey: #bababa;
    --second-font: 'Inter', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
}

h1,
h2,
h3,
p,
figure {
    margin: 0;
}

img {
    width: 100%;
}


/* Header */

.header {
    position: relative;
    height: 336px;
    min-width: 320px;
    padding: 60px 20px 0;
    text-align: center;
    background-image: linear-gradient(207.8deg, var(--black) 16.69%, var(--bitcoin-orange) 100%);
}

.header__conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}

.header__logo {
    width: 15.1rem;
    height: 2.4rem;
    align-self: center;
}

.header__titulo {
    margin-top: 50px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header__descripcion {
    margin-top: 30px;
    color: var(--soft-orange);
}

.header__boton {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    bottom: -25px;
    padding: 15px;
    font-weight: 700;
    text-decoration: none;
    color: var(--warm-black);
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
}

.header__icon-down {
    display: inline-block;
    height: 7px;
    width: 12px;
    background-image: url(../assets/icon/toDown.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


/* seccion exchange */

.exchange {
    background-color: var(--off-white);
}

.exchange__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    min-width: 320px;
    max-width: 900px;
    padding: 65px 15px;
}

.exchange__bitcoin-background {
    height: 195px;
    width: 195px;
    margin-bottom: 40px;
    background-image: url(../assets/img/Bitcoin.svg);
}

.exchange__tittle {
    font-size: 2.4rem;
    line-height: 2.6rem;
    margin-bottom: 25px;
    text-align: center;
    color: var(--warm-black);
}

.exchange__descripcion {
    text-align: center;
    color: #757575;
}

.exchange__contenedor-tasas {
    margin-top: 80px;
    width: 70%;
}

.tasas {
    max-width: 300px;
    margin: 0 auto;
}

.tasas__tittle {
    line-height: 2.3rem;
    font-size: 1.8rem;
    padding: 0 0 10px 15px;
}

.tasas__tittle--orange {
    color: var(--bitcoin-orange);
}

.tasas__tittle--blue {
    color: var(--secondary-blue);
}

.tasas__tabla {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--just-white);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    margin-bottom: 20px;
}

.tasas__label,
.tasas__precio {
    padding: 12px;
    border-right: 1px solid var(--off-white);
    border-bottom: 1px solid var(--off-white);
}

.tasas__precio:nth-child(2n) {
    border-right: none;
}

.tasas__label:nth-last-child(),
.tasas__precio:nth-last-child() {
    border-bottom: none;
}

.tasas__label {
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-family: var(--second-font);
    color: #B5B0AC;
}

.tasas__precio {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 400;
    line-height: 17px;
    color: #757575;
}

.tasas__icon {
    display: inline-block;
    height: 12px;
    width: 12px;
}

.tasas__icon--down {
    background-image: url('../assets/icon/trending-down.svg');
}

.tasas__icon--up {
    background-image: url('../assets/icon/trending-up.svg');
}

.tasas__update {
    width: max-content;
    padding: 8px;
    margin: 0 auto 20px;
    font-weight: 700;
    font-family: var(--second-font);
    font-size: 1.2rem;
    line-height: 1.5rem;
    border-radius: 8px;
}

.tasas__update--orange {
    background-color: var(--soft-orange);
}

.tasas__update--blue {
    background-color: var(--soft-blue);
}

.tasas__fecha {
    font-weight: 500;
}